@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=PT+Serif");
@font-face {
  font-family: lavanderia;
  src: url("lavanderia regular.otf"); }


@media (max-width: 767px) {
    html, body {
        height: 100%;
        width: 100%;
        position: relative;
        font-family: 'Poppins', sans-serif;
        overflow-x: hidden;
    }
    body {
        overflow-x:hidden;
    }
    hr {
        color: white;
        size: 2rem;
        z-index: 5;
    }

    .main {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
    }

    .date {
        font-family: 'Lato', sans-serif;
        text-align: center;
        margin-top: 18rem;
        margin-left: 1rem;
        color: white;
        font-size: 24px;
    }
    #timer {
        font-family: 'Lato', sans-serif;
        text-align: center;
        margin-left: 1rem;
        color: white;
        font-size: 22px;
        font-weight: bold;
    }
    .lato {
        font-family: 'Lato', sans-serif;
        color: white;
        font-size: 20px;
        text-align: center;
    }

    .parallax-art {
        position: relative;
        z-index: 10;
    }

    .parallax-art, .parallax-layer {
        height: 119.6%;
        background-color: #13182E;
    }

    .parallax-art, .parallax-layer1 {
        height: 600px;
    }

    .parallax-art, .parallax-layer2 {
        height: 770px;
    }

    .parallax-layer {
        background-position: bottom center;
        background-size: 400px 400px;
        width: 100%;
        position: absolute;
        background-color: #13182E;
    }

    .parallax-layer1 {
        background-position: bottom center;
        background-size: 80%;
        width: 100%;
        position: absolute;
    }

    .parallax-layer2 {
        background-position: bottom center;
        background-size: 2500px 800px;
        width: 100%;
        position: absolute;
        top: 13rem;
    }

    #parallax {
        display: block;
    }

    #para_art0 {
        background-image: url("../img/background.png");
        top: -27rem;
    }

    #para_art1 {
        background-image: url("../img/websitelogo.png");
        background-repeat: no-repeat;
        top: -15rem;
    }

    #para_art2 {
        background-image: url("../img/foreground.png");
        background-repeat: no-repeat;
        top: 13rem;
    }

    #maincontain {
        background-color: black;
        position: relative;
        z-index: 98;
        height: 100%;
    }

    #main {
        max-width: 900px;
        padding-left: 30px;
        padding-right: 30px;
        margin-left: auto;
        margin-right: auto;
        z-index: 99;
        position: relative;
        background-color: black;
        top: -6rem;
        text-align:center;
    }

    .hook {
        line-height: 1.8rem;
    }

    #btn {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        position: relative;
        top: 90%;
        left: 52%;
        transform: translateX(-50%);
        z-index: 5;
    }

        #btn img {
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        }

    .feature-button {
        background-color: #CEAC55;
        width: 250px;
        height: 50px;
        margin-top: 20px;
        color: white;
    }

    #logo {
        width: 300px;
        height: 90px;
        position: absolute;
        top: 35%;
        margin-top: -50px;
        text-align: center;
        margin-left: 30px;
    }

    #foreground {
        height: 300px;
        width: 200%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 190px;
    }

    #background {
        height: 80%;
    }

    .section.feature {
        width: 100%;
        max-width: none;
        margin: 50px auto 120px;
    }

    .videocontain {
        position: relative;
        padding-bottom: 56.1%;
        height: 0;

    }

        .videocontain iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
}
@media (min-width: 768px) {
  html, body {
    position: relative;
    font-family: 'Poppins', sans-serif; }
  hr {
    color: white;
    size: 2rem;
    z-index: 5; }
  .main {
    width: 100%;
    height: 100%;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size:cover; }
  .date {
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top: 18rem;
    margin-left: 1rem;
    color: white;
    font-size: 24px; }
    #timer {
        font-family: 'Lato', sans-serif;
        text-align: center;
        margin-left: 1rem;
        color: white;
        font-size: 22px;
        font-weight: bold;
    }
  .lato {
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 20px;
    text-align: center; }
  .parallax-art {
    position: relative;
    z-index: 10; }
  .parallax-art, .parallax-layer {
    height: 125.6%;
    background-color: #13182E; }
  .parallax-art, .parallax-layer1 {
    height: 600px; }
  .parallax-art, .parallax-layer2 {
    height: 770px; }
  .parallax-layer {
    background-position: bottom center;
    background-size: 100%;
    width: 100%;
    position: absolute;
    background-color: #13182E; }
  .parallax-layer1 {
    background-position: bottom center;
    background-size: 360px auto;
    width: 100%;
    position: absolute; }
  .parallax-layer2 {
    background-position: bottom center;
    background-size: 2500px 800px;
    width: 100%;
    position: absolute;
    top: 13rem; }
  #parallax {
    display: block; }
  #para_art0 {
    background-image: url("../img/background.png");
    top: -27rem; 
    background-repeat: no-repeat;
  }
   
  #para_art1 {
    background-image: url("../img/websitelogo.png");
    background-repeat: no-repeat;
    top: -15rem; }
  #para_art2 {
    background-image: url("../img/foreground.png");
    background-repeat: no-repeat;
    top: 11rem; }
    #maincontain {
        background-color: black;
        position: relative;
        z-index: 98;
        height: 100%;
    }
    #main {
        max-width: 900px;
        padding-left: 30px;
        padding-right: 30px;
        margin-left: auto;
        margin-right: auto;
        z-index: 99;
        position: relative;
        background-color:black;
        top: -6rem;
    }
  .hook {
    line-height: 1.8rem; }
  #btn {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: relative;
    top: 90%;
    left: 52%;
    transform: translateX(-50%);
    z-index: 5; }
  #btn img {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%); }
  .feature-button {
    background-color: #CEAC55;
    width: 250px;
    height: 50px;
    margin-top: 20px;
    color: white; }
  #logo {
    width: 300px;
    height: 90px;
    position: absolute;
    top: 35%;
    margin-top: -50px;
    text-align: center;
    margin-left: 30px; }
  #foreground {
    height: 300px;
    width: 200%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 190px; }
  #background {
    height: 80%; }
  .section.feature {
    width: 100%;
    max-width: none;
    margin: 50px auto 120px; }
  .videocontain {
    position: relative;
    padding-bottom: 56.1%;
    height: 0; }
  .videocontain iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; } }
    @media (min-width: 894px) {
    html, body {
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    padding: .8rem;
}

.navbar-nav li {
    padding-right: 20px;
}

.nav-link {
    font-size: 1.1em !important;
}

hr {
    color: white;
    size: 2rem;
    z-index: 5;
}

.logo {
    height: 63px;
    width: 122px;
}

.mask {
    height: 63px;
    width: 63px;
}

.main {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-x: hidden;
}

.lato {
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 20px;
    text-align: center;
}

.date {
    font-family: 'PT Serif', serif;
    text-align: center;
    margin-top: 21rem;
    margin-left: 1rem;
    color: white;
    font-size: 24px;
}
    #timer {
        font-family: 'Lato', sans-serif;
        text-align: center;
        margin-left: 1rem;
        color: white;
        font-size: 22px;
        font-weight: bold;
    }
.parallax-art, .parallax-layer {
    height: 79.7%;
    background-color: #13182E;
}

.parallax-art, .parallax-layer1 {
    height: 600px;
}

.parallax-art, .parallax-layer2 {
    height: 770px;
}

#parallax {
    display: block;
}

.parallax-art {
    position: relative;
    z-index: 10;
}

.parallax-layer {
    background-position: bottom center;
    background-size: 100%;
    width: 100%;
    position: absolute;
    background-color: #13182E;
}

.parallax-layer1 {
    background-position: bottom center;
    background-size: 800px auto;
    width: 100%;
    position: absolute;
}

.parallax-layer2 {
    background-position: bottom center;
    background-size: 2500px 650px;
    width: 100%;
    position: absolute;
    top: 13rem;
}

.parallax-layer.parallax {
    position: fixed;
}

#para_art0 {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-color: #13182E;
    top: 0px;
}

#para_art1 {
    background-image: url("../img/websitelogo.png");
    background-repeat: no-repeat;
    top: -11rem;
}

#para_art2 {
    background-image: url("../img/foreground.png");
    background-repeat: no-repeat;
    top: 13rem;
}

#maincontain {
    background-color: black;
    position: relative;
    z-index: 98;
    height: 100%;
}

    #main {
        max-width: 900px;
        padding-left: 30px;
        padding-right: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        z-index: 99;
        position: relative;
        background-color:black;
        top: 0px;
    }

.feature-button {
    background-color: #CEAC55;
    width: 300px;
    height: 50px;
    margin-top: 20px;
    margin-left: 17rem;
    position: relative;
    color: white;
}

.section.feature {
    width: 100%;
    max-width: none;
    margin: 50px auto 120px;
}

.videocontain {
    position: relative;
    padding-bottom: 56.1%;
    height: 0;

}

    .videocontain iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

.hook {
    line-height: 5px;
}

.open-padding {
    padding: 80px 0 0px 0;
}

.logo-text {
    font-family: lavanderia;
}

#btn {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: relative;
    top: 90%;
    left: 51%;
    transform: translateX(-50%);
    z-index: 5;
}

    #btn img {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }

}
@media (min-width: 1024px) {
    html, body {
        position: relative;
        font-family: 'Poppins', sans-serif;
    }

    .navbar {
        padding: .8rem;
    }

    .navbar-nav li {
        padding-right: 20px;
    }

    .nav-link {
        font-size: 1.1em !important;
    }

    hr {
        color: white;
        size: 2rem;
        z-index: 5;
    }

    .logo {
        height: 63px;
        width: 122px;
    }

    .mask {
        height: 63px;
        width: 63px;
    }

    .main {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow-x: hidden;
    }

    .lato {
        font-family: 'Lato', sans-serif;
        color: white;
        font-size: 20px;
        text-align: center;
    }

    .date {
        font-family: 'PT Serif', serif;
        text-align: center;
        margin-top: 21rem;
        margin-left: 1rem;
        color: white;
        font-size: 24px;
    }
    #timer {
        font-family: 'Lato', sans-serif;
        text-align: center;
        margin-left: 1rem;
        color: white;
        font-size: 22px;
        font-weight: bold;
    }
    .parallax-art, .parallax-layer {
        height: 103%;
        background-color: #13182E;
    }

    .parallax-art, .parallax-layer1 {
        height: 600px;
    }

    .parallax-art, .parallax-layer2 {
        height: 770px;
    }

    #parallax {
        display: block;
    }

    .parallax-art {
        position: relative;
        z-index: 10;
    }

    .parallax-layer {
        background-position: bottom center;
        background-size: 100%;
        width: 100%;
        position: absolute;
        background-color: #13182E;
    }

    .parallax-layer1 {
        background-position: bottom center;
        background-size: 800px auto;
        width: 100%;
        position: absolute;
    }

    .parallax-layer2 {
        background-position: bottom center;
        background-size: 2500px 650px;
        width: 100%;
        position: absolute;
        top: 13rem;
    }

    .parallax-layer.parallax {
        position: fixed;
    }

    #para_art0 {
        background-image: url("../img/background.png");
        background-repeat: no-repeat;
        background-color: #13182E;
        top: -10rem;
    }

    #para_art1 {
        background-image: url("../img/websitelogo.png");
        background-repeat: no-repeat;
        top: 0rem;
    }

    #para_art2 {
        background-image: url("../img/foreground.png");
        background-repeat: no-repeat;
        top: 13rem;
    }

    #maincontain {
        background-color: black;
        position: relative;
        z-index: 98;
        height: 100%;
    }

    #main {
        max-width: 900px;
        padding-left: 30px;
        padding-right: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        z-index: 99;
        position: relative;
        background-color: black;
        top: 0px;
    }

    .feature-button {
        background-color: #CEAC55;
        width: 300px;
        height: 50px;
        margin-top: 20px;
        margin-left: 17rem;
        position: relative;
        color: white;
    }

    .section.feature {
        width: 100%;
        max-width: none;
        margin: 50px auto 120px;
    }

    .videocontain {
        position: relative;
        padding-bottom: 56.1%;
        height: 0;

    }

        .videocontain iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

    .hook {
        line-height: 5px;
    }

    .open-padding {
        padding: 80px 0 0px 0;
    }

    .logo-text {
        font-family: lavanderia;
    }

    #btn {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        position: relative;
        top: 90%;
        left: 51%;
        transform: translateX(-50%);
        z-index: 5;
    }

        #btn img {
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        }
}
@media (min-width: 1366px) {
    html, body {
        position: relative;
        font-family: 'Poppins', sans-serif;
    }

    .navbar {
        padding: .8rem;
    }

    .navbar-nav li {
        padding-right: 20px;
    }

    .nav-link {
        font-size: 1.1em !important;
    }

    hr {
        color: white;
        size: 2rem;
        z-index: 5;
    }

    .logo {
        height: 63px;
        width: 122px;
    }

    .mask {
        height: 63px;
        width: 63px;
    }

    .main {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow-x: hidden;
    }

    .lato {
        font-family: 'Lato', sans-serif;
        color: white;
        font-size: 20px;
        text-align: center;
    }

    .date {
        font-family: 'PT Serif', serif;
        text-align: center;
        margin-top: 21rem;
        margin-left: 1rem;
        color: white;
        font-size: 24px;
    }
    #timer {
        font-family: 'Lato', sans-serif;
        text-align: center;
        margin-left: 1rem;
        color: white;
        font-size: 22px;
        font-weight: bold;
    }
    .parallax-art, .parallax-layer {
        height: 116.2%;
        background-color: #13182E;
    }

    .parallax-art, .parallax-layer1 {
        height: 600px;
    }

    .parallax-art, .parallax-layer2 {
        height: 770px;
    }

    #parallax {
        display: block;
    }

    .parallax-art {
        position: relative;
        z-index: 10;
    }

    .parallax-layer {
        background-position: bottom center;
        background-size: 100%;
        width: 100%;
        position: absolute;
        background-color: #13182E;
    }

    .parallax-layer1 {
        background-position: bottom center;
        background-size: 800px auto;
        width: 100%;
        position: absolute;
    }

    .parallax-layer2 {
        background-position: bottom center;
        background-size: 2500px 650px;
        width: 100%;
        position: absolute;
        top: 13rem;
    }

    .parallax-layer.parallax {
        position: fixed;
    }

    #para_art0 {
        background-image: url("../img/background.png");
        background-repeat: no-repeat;
        background-color: #13182E;
        top: 0px;
    }

    #para_art1 {
        background-image: url("../img/websitelogo.png");
        background-repeat: no-repeat;
        top: 2rem;
    }

    #para_art2 {
        background-image: url("../img/foreground.png");
        background-repeat: no-repeat;
        top: 13rem;
    }

    #maincontain {
        background-color: black;
        position: relative;
        z-index: 98;
        height: 100%;
    }

    #main {
        max-width: 900px;
        padding-left: 30px;
        padding-right: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        z-index: 99;
        position: relative;
        background-color: black;
        top: 0px;
    }

    .feature-button {
        background-color: #CEAC55;
        width: 300px;
        height: 50px;
        margin-top: 20px;
        margin-left: 17rem;
        position: relative;
        color: white;
    }

    .section.feature {
        width: 100%;
        max-width: none;
        margin: 50px auto 120px;
    }

    .videocontain {
        position: relative;
        padding-bottom: 56.1%;
        height: 0;

    }

        .videocontain iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

    .hook {
        line-height: 5px;
    }

    .open-padding {
        padding: 80px 0 0px 0;
    }

    .logo-text {
        font-family: lavanderia;
    }

    #btn {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        position: relative;
        top: 90%;
        left: 51%;
        transform: translateX(-50%);
        z-index: 5;
    }

        #btn img {
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        }
}
@media (min-width: 1367px) {
    html, body {
        position: relative;
        font-family: 'Poppins', sans-serif;
    }

    .navbar {
        padding: .8rem;
    }

    .navbar-nav li {
        padding-right: 20px;
    }

    .nav-link {
        font-size: 1.1em !important;
    }

    hr {
        color: white;
        size: 2rem;
        z-index: 5;
    }

    .logo {
        height: 63px;
        width: 122px;
    }

    .mask {
        height: 63px;
        width: 63px;
    }

    .main {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow-x: hidden;
    }

    .lato {
        font-family: 'Lato', sans-serif;
        color: white;
        font-size: 20px;
        text-align: center;
    }

    .date {
        font-family: 'PT Serif', serif;
        text-align: center;
        margin-top: 21rem;
        margin-left: 1rem;
        color: white;
        font-size: 24px;
    }
    #timer {
        font-family: 'Lato', sans-serif;
        text-align: center;
        margin-left: 1rem;
        color: white;
        font-size: 22px;
        font-weight: bold;
    }
    .parallax-art, .parallax-layer {
        height: 112.4%;
        background-color: #13182E;
    }

    .parallax-art, .parallax-layer1 {
        height: 600px;
    }

    .parallax-art, .parallax-layer2 {
        height: 770px;
    }

    #parallax {
        display: block;
    }

    .parallax-art {
        position: relative;
        z-index: 10;
    }

    .parallax-layer {
        background-position: bottom center;
        background-size: 100%;
        width: 100%;
        position: absolute;
        background-color: #13182E;
    }

    .parallax-layer1 {
        background-position: bottom center;
        background-size: 800px auto;
        width: 100%;
        position: absolute;
    }

    .parallax-layer2 {
        background-position: bottom center;
        background-size: 2500px 650px;
        width: 100%;
        position: absolute;
        top: 13rem;
    }

    .parallax-layer.parallax {
        position: fixed;
    }

    #para_art0 {
        background-image: url("../img/background.png");
        background-repeat: no-repeat;
        background-color: #13182E;
        height:100%;
    }

    #para_art1 {
        background-image: url("../img/websitelogo.png");
        background-repeat: no-repeat;
        top: 6rem;
    }

    #para_art2 {
        background-image: url("../img/foreground.png");
        background-repeat: no-repeat;
        top: 22rem;
    }

    #maincontain {
        background-color: black;
        position: relative;
        z-index: 98;
        height: 100%;
    }

    #main {
        max-width: 900px;
        padding-left: 30px;
        padding-right: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 150px;
        z-index: 99;
        position: relative;
        background-color:black;
        top: 0px;
    }

    .feature-button {
        background-color: #CEAC55;
        width: 300px;
        height: 50px;
        margin-top: 20px;
        margin-left: 17rem;
        position: relative;
        color: white;
    }

    .section.feature {
        width: 100%;
        max-width: none;
        margin: 50px auto 120px;
    }

    .videocontain {
        position: relative;
        padding-bottom: 56.1%;
        height: 0;

    }

        .videocontain iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

    .hook {
        line-height: 5px;
    }

    .open-padding {
        padding: 80px 0 0px 0;
    }

    .logo-text {
        font-family: lavanderia;
    }

    #btn {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        position: relative;
        top: 90%;
        left: 51%;
        transform: translateX(-50%);
        z-index: 5;
    }

        #btn img {
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        }
}